@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family: 'Poppins';
}
.desklayLogo{
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: 350;
}
.desklayLogoFooter{
    font-size: 27px;
    font-family: 'Poppins';
    font-weight: 350;
}
#navbarNavDropdown {
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 12px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
#navbarNavDropdown ul li .home{
    text-decoration: none;
}
#navbarNavDropdown ul li .home:hover{
    color: white;
}
.home{
    color: white;
    text-decoration: none;
}
.work{
    color: white;
    text-decoration: none;
}
.whyus{
    color: white;
    text-decoration: none;
}
.blogs{
    color: white;
    text-decoration: none;
}
.fasterbetter{
    color: #13C568;
}
.loremWebSection{
    color: black;
    font-size: 12px;
}
.listWebSection{
    color: black;
    font-size: 13px;
}
.toolsLowCode{
    font-size: 14px;
    color: #13C568 ;
}
.someLowCode{
    font-size: 23px;
    font-family: 'Poppins';
    font-weight: 500;
    color:  white;
}
.benefitsMobileApp{
    font-size: 14px;
    color: #13C568 ;
}
.topBenefitsMobileApp{
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: 800;
}
.ourWork{
    font-size: 14px;
    color: #13C568 ;
}
.allTypes{
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: 800;
}
.process{
    font-size: 14px;
    color: #13C568 ;
}
.ourProcess{
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: 800;
}
.ReducedCostText{
    font-size: 15px;
    font-family: 'Poppins';
}
.loremMobileApp{
    font-size: 13px;
    font-family: 'Poppins';
}
.whatYouGet {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #13C568;
}
.whatYouGetImg{
    width: 100%;
    margin-top: -40px;
}
.whatYouGetImg2{
    width: 80%;
    margin-top: -40px;
}
.whyChoose{
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 900;
}
.webSection {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.webSection::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: linear-gradient(113.5001723098901deg, #133585 5.736111111111111%, #133585 96.29166666666666%);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.7);
}
.webSection .content{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}
.webSection .content h2{
    margin: 0;
    padding: 0;
    /* font-size: 3em; */
    color: #fff;
}
.webSection .content p{
    /* font-size: 1.5em; */
    color: #fff;
}
.navbarbackgcolor{
    background-color: #133585;
}
.OurClients{
    background-color:  #133585;
    padding: 30px;
    color: white;
}
hr{
    width: 60px;
}
.webContainer {
    /* min-height: 100vh; */
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    margin: 0px
}


@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}


.cardsList{
    background-color: rgb(57, 57, 196);
    width: 100%;
}
.weDo{
    background-color: rgb(238, 243, 245);
    color: black;
    /* padding: 10px; */
    align-items: center;
}
.haveaProject{
    background-color: #133585;
    color: white;
    padding: 50px;
    width: 90%;
}
.doYouHave{
    font-size: 21px;
}
.douYouText{
    font-size: 11px;
}
.getaQuoteButtonProj{
    background-color: #13C568;
    color: white;
    border: 1px solid #13C568;
    font-size: 12px;
    width: 150px;
    white-space: nowrap;
}
.haveaProject h3{
    white-space: nowrap;
}
.haveaProject1{
    background-color: #133585;
    padding: 70px;
}
.haveaProject2{
    white-space: nowrap;
}
.toolsImage{
    /* background-color: #1b9ce3; */
    border: 1px solid white;
    padding:  25px;
    text-align: center;
    border-radius: 12px;
}
.toolsRow{
    padding: 10px;
    background-color: #284589;
}
.hid{
    padding: 10px;
}
/* .imag{
    background-color: white;
    border-radius: 50%;
} */
.imag2 {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    position: relative;
    left: 65px;
    /* margin: -150px 0px; */
}
.processContainer{
    /* background-color: skyblue; */
    border:  1px solid white;
    width: max-content;
    max-width: 220px;
    margin-top: 100px;
    margin: auto;
}

.imgcon{
position: relative;
top: 40px;
width: 60px;
left: 30px;
}
.imj{
    background-color: blue;
}
.imgShield{
    background-color: rgb(60, 60, 151);
    height: 60%;
    padding: 20px;
    border-radius: 10px;
}
.imj{
    background-color: blue;
}
.imgShield{
    background-color: rgb(60, 60, 151);
    height: 60%;
    padding: 20px;
    border-radius: 10px;
}
.imgShield:hover{
    height: 70%;
}

.item .box {
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:280px;
    position:relative;
    overflow:hidden;
  }
  .item:hover .cover {
    opacity:1;
  }
  
  .item .name {
    font-weight:bold;
    margin-bottom:8px;
  }
  
  .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#bbd8fb;
    letter-spacing:2px;
    font-size:13px;
    margin-bottom:20px;
  }
  
  .social {
    font-size:18px;
  }
   
  .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  .social a:hover {
    opacity:1;
  }
  .content{
    position: relative;
    /* width: 90%; */
    /* max-width: 400px; */
    /* margin: auto; */
    bottom: 50px;
    overflow: hidden;
}
.content .content-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s}
.content:hover .content-overlay{
    opacity: 1
}
.content-image{
    width: 100%
}
/* img{box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
} */
.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s}
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1
    }
    .content-details h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase
    }.content-details p{
        color: #fff;
        font-size: 0.8em
    }.fadeIn-bottom{
        top: 80%
    }
    .faq {
        background-color: #F4FBFF;
        padding-bottom: 40px;
        /* height: 120vh; */
    }
    
    .faq1 {
        background-color: white;
        /* color: black;
        padding: 15px;
        width: 60%; */
        border-radius: 10px;
    }
    .faqTitle{
        font-size: 14px;
        color: #13C568;
        font-weight: 600;
    }
    .faqText {
        font-size: 23px;
        font-family: 'Poppins';
        font-weight: 800;
    }
    .faqQuesText {
        font-size: 13px;
        font-family: 'Poppins';
        font-weight: 500;
    }
    .faqAnswerText{
        font-size: 12.5px;
        font-family: 'Poppins';
        font-weight: 400;
    }
.getInTouch {
    font-size: 14px;
    color: #13C568;
    font-weight: 630;
}
.consultant {
    font-size: 23px;
    font-family: 'Poppins';
    font-weight: 500;
}
.video
{
width: 400px;
height: 350px;
background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://www.reliancedigital.in/medias/Lenovo-93IN-Laptops-492573925-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3wxMDYyNHxpbWFnZS9qcGVnfGltYWdlcy9oMzcvaDBjLzk4NDk0NzE2OTY5MjYuanBnfDMyZDBmZmY4YmZlYWYyYjY5MjhlZDllZGFmNjUzMDFhZjQwMWYxM2VhOGM3NDQxOWNhZGUyZjZjOTAwYTNmYmQ);
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
}
.play-btn
{
display: flex;
align-items: center;
justify-content: center;
background: #f60;
color: #fff;
font-size: 50px;
width: 100px;
height: 100px;
z-index: 2;
border-radius: 100%;
position: relative;
}
.play-btn:before
{
content: '';
position: absolute;
border:15px solid #fff;
border-radius: 50%;
top: -20px;
left: -20px;
right: -20px;
bottom: -20px;
animation: bloom1 1.5s linear infinite;
opacity: 0;
z-index: 1;
}
.play-btn:after
{
content: '';
position: absolute;
border:15px solid #fff;
border-radius: 50%;
top: -20px;
left: -20px;
right: -20px;
bottom: -20px;
animation: bloom2 6.5s linear infinite;
opacity: 0;
animation-delay: .4s;
z-index: 1;
}
@keyframes bloom1
{
0%
{
transform: scale(.5);
}
50%
{
opacity: 1;
}
100%
{
transform: scale(1.5);
}
}
@keyframes bloom2
{
0%
{
transform: scale(.5);
}
50%
{
opacity: 1;
}
100%
{
transform: scale(1.5);
}
}
.trustedClients{
    background-color:rgb(181, 223, 244);
    padding: 70px;
}
.processList{
    background-color: skyblue;
}

.haveaProject4{
    background-color: rgb(52, 52, 155);
    color: white;
    padding: 30px;
    width: 90%;
    border-radius: 15px;
    position: relative;
    top: 130px;
}
.benefits{
    white-space: nowrap;
}
/********** Template CSS **********/
:root {
    --primary: white;
    --light: #050709;
    --dark: #0F172B;
}

/*** Service ***/
.service-item:hover{
    background-color: white;
    box-shadow: 20px;
    border-bottom: 3px solid green;
  }


.benefitsNoCodeDev{
    padding-top: 15px;
    background-color: rgb(240, 244, 246);
}
.benefitsNocode{
    display: flex;
    background-color: rgb(240, 244, 246);
}
.validateIdea1{
   margin-top: 50%;
}

.ecommWeb{

}
/* .allTypeImg{
    padding: 10px;
    background-color: rgb(80, 80, 174);
} */
.processHead{
    /* background-color: beige; */
}
.cardFeaturedworks:hover {
    background-position: left;
}

.cardFeaturedworks-icon {
    margin: 0 1em;
}

.cardFeaturedworks-icon i {
    font-size: 3em;
}
.featuredWorks{
    background-color: rgb(57, 57, 196);
}
.cardFeaturedworks {
    border: 0;
    border-radius: 0;
    padding: 3em 0;
    background-color: blue;
    background: linear-gradient(to left, rgb(42, 42, 130) 50%, white 50%);
    background-size: 200%;
    background-position: right;
}
/* .ourTeam {
    background: #319ac6;
    height: 400px;
} */
.allCards {
    background-color: #133585;
    width: 100%;
    padding-bottom: 50px;
}
.ourWorks{
    color: #13C568;
    font-size: 14px;
    /* padding:10px 10px 60px 10px; */
}
.ourTeam2 {
    position: relative;
    height: 420px;
}
.ourTeam h2 {
    color: #fff;
    margin: 0 0 30px 0
}

.ourTeam .i {
    margin-top: 30px
}

.ourTeam .i .c {
    background: #fff;
    -webkit-box-shadow: 0 4px 0 #2b86ac;
    -moz-box-shadow: 0 4px 0 #2b86ac;
    box-shadow: 0 4px 0 #2b86ac;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
    padding-bottom: 110px
}

.ourTeam .i .c .wrap {
    position: relative
}

.ourTeam .i .c .wrap img {
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.ourTeam .i .c .wrap .info {
    padding: 30px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    color:  white;
}

.ourTeam .i .c .wrap .info .name {
    margin: 0;
    font-size: 17px;
    /* font-size: 2.4rem; */
    font-weight: 200;
    margin: 0 0 8px 0
}

.ourTeam .i .c .wrap .info .position {
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
    color: #555659
}

.ourTeam .i .c .more {
    position: absolute;
    bottom: -100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.ourTeam .i .c .more p {
    margin: 0 18px 30px 18px;
    line-height: 22px
}

.ourTeam .i .c .more .socials {
    margin: 0 0 20px 0
}

.ourTeam .i .c .more .socials a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-size: 2.2rem;
    color: #fff;
    margin: 0 0 0 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, .1)
}

.ourTeam .i .c .more .socials a:first-child {
    margin: 0
}

.ourTeam .i .c .more .socials a.facebook {
    background: #3262b9
}

.ourTeam .i .c .more .socials a.facebook:hover {
    background: #2d57a5
}

.ourTeam .i .c .more .socials a.twitter {
    background: #3dd7e5
}

.ourTeam .i .c .more .socials a.twitter:hover {
    background: #27d2e2
}

.ourTeam .i .c .more .socials a.google-plus {
    background: #e23535
}

.ourTeam .i .c .more .socials a.google-plus:hover {
    background: #de2020
}

.ourTeam .i .c .more .socials a.linkedin {
    background: #069
}

.ourTeam .i .c .more .socials a.linkedin:hover {
    background: #005580
}

.ourTeam .i .c:hover img {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0
}

.ourTeam .i .c:hover .info {
    background-color: rgb(67, 107, 227);
    top: 0
}

.ourTeam .i .c:hover .more {
    background-color: rgb(67, 107, 227);
    color: white;
    bottom: 0
}

.ourTeam2 h2 {
    color: #fff;
    margin: 0 0 30px 0
}

.ourTeam2 .i {
    margin-top: 30px
}

.ourTeam2 .i .c {
    background: #fff;
    -webkit-box-shadow: 0 4px 0 #2b86ac;
    -moz-box-shadow: 0 4px 0 #2b86ac;
    box-shadow: 0 4px 0 #2b86ac;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
    padding-bottom: 110px
}

.ourTeam2 .i .c .wrap {
    position: relative
}

.ourTeam2 .i .c .wrap img {
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.ourTeam2 .i .c .wrap .info {
    padding: 30px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

}

.ourTeam2 .i .c .wrap .info .name {
    margin: 0;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 0 8px 0
}

.ourTeam2 .i .c .wrap .info .position {
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
    color: #555659
}

.ourTeam2 .i .c .more {
    position: absolute;
    bottom: -100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.ourTeam2 .i .c .more p {
    margin: 0 18px 30px 18px;
    line-height: 22px
}

.ourTeam2 .i .c .more .socials {
    margin: 0 0 20px 0
}

.ourTeam2 .i .c .more .socials a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-size: 2.2rem;
    color: #fff;
    margin: 0 0 0 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, .1)
}

.ourTeam2 .i .c .more .socials a:first-child {
    margin: 0
}

.ourTeam2 .i .c .more .socials a.facebook {
    background: #3262b9
}

.ourTeam2 .i .c .more .socials a.facebook:hover {
    background: #2d57a5
}

.ourTeam2 .i .c .more .socials a.twitter {
    background: #3dd7e5
}

.ourTeam2 .i .c .more .socials a.twitter:hover {
    background: #27d2e2
}

.ourTeam2 .i .c .more .socials a.google-plus {
    background: #e23535
}

.ourTeam2 .i .c .more .socials a.google-plus:hover {
    background: #de2020
}

.ourTeam2 .i .c .more .socials a.linkedin {
    background: #069
}

.ourTeam2 .i .c .more .socials a.linkedin:hover {
    background: #005580
}

.ourTeam2 .i .c:hover img {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0
}

.ourTeam2 .i .c:hover .info {
    top: 0
}

.ourTeam2 .i .c:hover .more {
    bottom: 0
}

.cardServices1 {
    width: 280px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background:  rgb(80, 80, 199);
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    color: white;
    padding: 15px;
}


.card .cardServices1backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.cardServices1:hover {
    color: black;
    background-color: white;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.cardcardServices:hover .cardServices1backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #204e67;
    animation: popBackground ease-in;
}

.cardServices1card .cardServices1content {
    padding: 0 40px;
}

.cardServices1card .cardServices1content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #1b9ce3;
    border-radius: 25px;
    font-size: 12px;
    border: none
}
.footer{
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #133585;
    color: white;
}
.iconsFooter {
    background-color: #133585;
    padding: 20px;
}
.address{
    white-space: nowrap;
    font-size: 12.5px;
}
.yourEmailAddress{
    font-size: 12px;
    width: 200px;
    padding: 10px;
    background-color: #37559a;
    color: white;
    border:  1px solid rgb(174, 173, 173);
    font-weight: 600px;
}
.signUp {
    font: Poppins;
    font-size: 12px;
    font-weight: 200;
    width: 110px;
    padding: 10px;
}
.usefulLinks{
    font: Poppins;
    font-size: 15px;
}
.addressUsefulLinks{
    font: Poppins;
    white-space: nowrap;
    font-size: 12.5px;
    color: #FFFFFFCC;
}
.copyright{
    font: Poppins;
    font-size: 12px;
    color: #FFFFFFCC;
}

.desklayTech{
    font-weight: 600;
}
.testimonials{
    box-shadow: 0px 1px 1px 1px;
}
.testimonialss{
    font-size: 14px;
    color: #13C568;
    font-weight: 600;
}
.testimonialsText{
    font-size: 14px;
    color: #13C568;
    font-weight: 600;
}
.testimonialTextPara{
    font-size: 13px;
}
.testimonialsThink {
    font-size: 23px;
    font-family: 'Poppins';
    font-weight: 800;
}
ul.testimonialsList{
    list-style: none;
}
.workFeaturedList{
    display: flex;
    gap: 50px;
}

.cardsList {
    background-color: rgb(232, 243, 247);
    width: 100%;
}
.cardServices {
    width: 280px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}


.card .cardServicesbackgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.cardServices:hover {
    color: #fff;
    background-color: rgb(45, 45, 106);
    /* transform: scale(1.025); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.cardcardServices:hover .cardServicesbackgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #204e67;
    animation: popBackground ease-in;
}
.cardServicescard .pic {
    position: relative
}
.cardServicescard .cardServicestext-muted {
    font-size: 12px
}

.cardServicescard:hover .cardServicestext-muted {
    color: #fff !important
}
.cardServicescontent{
    padding: 10px;
}


.cardServicescard:hover .cardServicescontent .btn {
    background: #fff;
    color: #1b9ce3;
    box-shadow: #0000001a 0px 3px 5px
}

.cardServicescard .cardServicescontent .btn .fas {
    font-size: 10px;
    padding-left: 5px
}

.cardServicescard .cardServicescontent .foot .admin {
    color: #1b9ce3;
    font-size: 12px
}

.cardServicescard:hover .cardServicescontent .foot .admin {
    color: #fff
}

.cardServicescard .cardServicescontent .foot .icon {
    font-size: 12px
}

.cardServicescard .cardServicescontent a {
    color: blue;
}
.video {
    width: 400px;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoBack {
    background-image: url('img/tech-support-scam\ 1.png');
}

.play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(47, 162, 47);
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 100%;
    position: relative;
}

.play-btn:before {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}

.play-btn:after {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 6.5s linear infinite;
    opacity: 0;
    animation-delay: .4s;
    z-index: 1;
}
@keyframes bloom1 {
    0% {
        transform: scale(.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes bloom2 {
    0% {
        transform: scale(.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}
.formSection {
    background-color: #F4FBFF;
    /* height: 150vh; */
    padding-bottom: 70px;
}

.formInputContainer {
    background-color: white;
    border: 1px solid white;
}

.yourName {
    font-size: 11px;
    font-weight: 600;
}

.yourNamePlace {
    font-size: 11px;
}
.sendMessage{
    background-color: #13C568;
    color: white;
    font-size: 13px;
    border: 1px solid white;
}
.getaQuoteButton{
    background-color: #133585;
    color: rgb(6, 190, 6);
    border: 1px solid rgb(6, 190, 6);
}
.typesOfWork{
    /* background-color: blue; */
    border: 1px solid green;
    border-radius: 13px;
    width: 50vh;
    padding: 10px;
}
.typesOfWork:hover{
    border: 1px solid green;
}
.onlineShopImg{
    background-color: #E7F9F0;
    padding: 10px;
    margin: -240px;
    border-radius: 50%;
}
.ourWorkTopics{
    font-size: 13px;
}
.mainContainer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.cardsServices {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    width: 300px;
}
.bodyHover {
    background-color: white;
}

.bodyHover:hover {
    background-color: #133585;
    color: white;
}
.h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
}

.h2::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    background: #ff5555;
    left: 0;
    bottom: -20px;
}

.carouselTestimonial2 {
    margin: 50px auto;
}

.carouselTestimonial2 .carousel-item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}

.carouselTestimonial2 .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
}

.carouselTestimonial2 .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
}

.carouselTestimonial2 .testimonial {
    color: #fff;
    position: relative;
    background: #9b9b9b;
    padding: 15px;
    margin: 0 0 20px 20px;
}

.carouselTestimonial2 .testimonial::before,
.carousel .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.carouselTestimonial2 .testimonial::before {
    width: 20px;
    height: 20px;
    background: #9b9b9b;
    box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.carouselTestimonial2 .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.carouselTestimonial2 .carousel-item .row>div:first-child .testimonial {
    margin: 0 20px 20px 0;
}

.carouselTestimonial2 .carousel-item .row>div:first-child .media {
    margin-left: 0;
}

.carouselTestimonial2 .testimonial p {
    text-indent: 40px;
    line-height: 21px;
    margin: 0;
}

.carouselTestimonial2 .testimonial p::before {
    content: "\201D";
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}

.carouselTestimonial2 .overview {
    padding: 3px 0 0 15px;
}

.carouselTestimonial2 .overview .details {
    padding: 5px 0 8px;
}

.carouselTestimonial2 .overview b {
    text-transform: uppercase;
    color: #ff5555;
}

.carContPrev,
.carContNext {
    width: 30px;
    height: 30px;
    background: #666;
    text-shadow: none;
    top: 4px;
}

.carContPrev i,
.carContNext i {
    font-size: 16px;
}

.carContPrev {
    left: auto;
    right: 40px;
}

.carContNext {
    left: auto;
}

.caroIndic {
    bottom: -80px;
}

.caroIndic li,
.caroIndic li.active {
    width: 17px;
    height: 17px;
    border-radius: 0;
    margin: 1px 5px;
    box-sizing: border-box;
}

.caroIndic li {
    background: #e2e2e2;
    border: 4px solid #fff;
}

.caroIndic li.active {
    color: #fff;
    background: #ff5555;
    border: 5px double;
}
.carouselContainer3 {
    /* width: 450px; */
    margin: 0 auto;
    position: relative;
    /* left: 80px; */
    padding-bottom: 50px;
}

.carouselContainer3 .carousel-item {
    /* color: #999;
font-size: 14px;
text-align: center;
overflow: hidden;
min-height: 340px; */
}

.carouselContainer3 .carousel-item a {
    color: #eb7245;
}

.carouselContainer3 .img-box {
    /* width: 145px;
height: 105px; */
    margin: 0 auto;
    border-radius: 50%;
}

.carouselContainer3 .img-box img {
    /* width: 100%;
height: 100%; */
    display: block;
    border-radius: 50%;
}

.carouselContainer3 .testimonial {
    /* padding: 30px 0 10px; */
    /* max-width: 250px; */
}

.carouselContainer3 .overview {
    /* text-align: center; */
    /* padding-bottom: 5px; */
}

.carouselContainer3 .overview b {
    /* color: #333;
font-size: 15px;
text-transform: uppercase;
display: block;	
padding-bottom: 5px; */
}

.carouselContainer3 .star-rating i {
    font-size: 18px;
    color: #ffdc12;
}

.carouselControlPrev3,
.carouselControlNext3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px;
}

.carouselControlPrev3 i,
.carousel-control-next i {
    font-size: 20px;
    margin-right: 2px;
}

.carouselControlPrev3 {
    left: auto;
    right: 40px;
}

.carouselControlNext3 i {
    margin-right: 2px;
}

.carousel .carouselIndicators3 {
    bottom: 15px;
}

.carouselIndicators3 li,
.carouselIndicators3 li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%;
}

.carouselIndicators3 li {
    background: #e2e2e2;
    border: none;
}

.carouselIndicators3 li.active {
    background: #888;
}

.carouselControlIndi {
    position: relative;
    top: 18px;
    right: 7x;
}
.carouselShadow{box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* border:  1px solid black; */
    /* max-width: 500px; */
}
.big {
    border: 1px solid green;
    /* width: 130px; */
    /* height: 80px; */
    border-radius: 5px;
    text-align: center;
}

.ourWorkImg {
    margin-top: -25px;
    /* height: 60px; */
    /* border: 1px solid black; */
    border-radius: 100%;
    z-index: 1;
    background-color: #E7F9F0;
    padding: 15px;
    /* margin: -240px; */
    /* border-radius: 50%; */
}

.big:hover {
    border: none;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.big:hover img{
    border:  1px solid green;
}

.ourWorkImg:hover {
    /* border: 2px solid green; */
    cursor: pointer;
}
.ourWorkingList{
    font-size: 12px;
    padding: 10px 20px 10px 30px;
    /* max-width: 20px; */
    font-weight: 500;
}